{% extends 'base.html' %}


{% block title %}
    <title> ALANCMDB-运行脚本 </title>
{% endblock %}


{% block css-js %}
    <!--Ion Icons [ OPTIONAL ]-->
    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <script src="/static/js/layer/layer.js"></script>
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="/static/css/nifty-demo-icons.min.css" rel="stylesheet">

    <script src="/static/js/ace/ace.js"></script>
    <script src="/static/js/ace/ext-language_tools.js"></script>
    <script src="/static/js/ace/theme-monokai.js"></script>


    <style type="text/css">
        pre {
            overflow: auto;
            white-space: normal;
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            border: 1px solid #ccc;
            padding: 5px;
            margin: 10px;
            font-family: Consolas, monospace;
            color: #ADFF2F;
            background-color: #000000;
        }

        .dropdown-menu {
            max-height: 500px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .html {
            font-size: 13px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    </style>
{% endblock %}


{% block page-title %}
    <h1 class="page-header text-overflow">Run Scripts</h1>
{% endblock %}

{% block content %}
      <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
					<li><a href="/">首页</a></li>
					<li><a href="/deploy/">应用部署</a></li>
                    <li><a href="/deploy/scripts_list/">脚本列表</a></li>
					<li class="active">脚本执行</li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">脚本执行</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <form class="form-horizontal" id="ansible_moudel_form" role="form" method="POST">
                    <div class="col-lg-4">
                        <legend><i class="fa  fa-paper-plane-o"></i> 模块选择</legend>

                        {% csrf_token %}
                        {#            {{ form }}#}
                        {% for item in form %}
                            <div class="form-group">
                                <label class="col-ms-10 control-label"
                                       style="margin-left: 10px;">{{ item.label }}</label>

                                <div class="col-ms-10" style="margin-left: 10px;">
                                    {{ item }}

                                </div>

                                <div class="col-ms-10" style="margin-left: 10px;">
                                    {{ item.errors }}
                                </div>
                            </div>

                        {% endfor %}
                        <input type="hidden" name="uuidkey" value="{{ uuidkey }}">
                        <div class="form-group">
                            <div class="box-footer" style="margin-left: 10px;width: 530px;">
                                <button type="button" class="btn btn-primary" style="width: 60pt"
                                        id="run_ansible_model" onclick="runAnsibleModel(this)"
                                >运行
                                </button>
                                <button type="button" style="width: 60pt" onclick="saveAnsibleScript(this)"
                                        class="btn btn-default">保存
                                </button>

                            </div>
                        </div>


                    </div>
                    <div class="col-lg-8">
                        <legend><i class="fa  fa-paper-plane-o"></i> 在线编辑</legend>

                        <div class="form-group">
                            <label class="col-ms-10 control-label"
                                   style="margin-left: 20px;">语言类型: </label>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="setAceEditMode('sh')">
                                    <a>Shell</a></button>
                                <button type="button" class="btn btn-default" onclick="setAceEditMode('python')"><a>Python</a>
                                </button>

                            </div>
                        </div>
                        <div id="compile-editor" class="ace_editor">{{ contents }}</div>
                        <br>

                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <legend><i class="fa  fa-paper-plane-o"></i> 执行结果</legend>
                <pre class="html">
                                        <div id="result"></div>
				                    </pre>

            </div>
        </div>
    </div>
{#    <div style="visibility:hidden"><a id="scrollToTop"></a></div>#}

    {#    <script>#}
    {#        require("ace/ext/old_ie"); //引入兼容IE的模块#}
    {#        ace.require("ace/ext/language_tools"); //引入代码补全和提示模块#}
    {#        var editor = ace.edit("result"); //以id为compile-editor的html元素创建编辑器#}
    {#        editor.$blockScrolling = Infinity;#}
    {#        editor.setFontSize(16);#}
    {#        editor.session.setMode("ace/mode/javascript");#}
    {#        editor.setOptions({#}
    {#        enableBasicAutocompletion: true,#}
    {#        enableSnippets: true,#}
    {#        enableLiveAutocompletion: true#}
    {#        });#}
    {#        editor.setTheme("ace/theme/monokai");#}
    {##}
    {#    </script>#}

    <style type="text/css">
        #compile-editor {
            /* position: absolute; */
            width: 100%;
            height: 300px;
        }
    </style>

    <script>


        function setAceEditMode(model) {
            var editor = ace.edit("compile-editor");
            require("ace/ext/old_ie");
            var langTools = ace.require("ace/ext/language_tools");
            editor.removeLines();
            editor.setTheme("ace/theme/monokai");
            if (model == 'sh') {
                editor.insert("#!/bin/bash");
            }
            else if (model == 'python') {
                editor.insert("#!/usr/bin/python");
            }
            else if (model == 'perl') {
                editor.insert("#!/usr/bin/perl");
            }
            else {
                editor.insert("#!/bin/bash");
                var model = 'sh'
            }
            ;
            editor.getSession().setMode("ace/mode/" + model);
            editor.setShowPrintMargin(false);
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });

        };

        setAceEditMode("sh");

        function saveAnsibleScript(obj) {
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var form = document.getElementById('ansible_moudel_form');
            var editor = ace.edit("compile-editor");
            var contents = editor.getSession().getValue();
            var script_name = document.getElementById("id_name").value;
            if (contents.length == 0 || script_name.length == 0) {
                window.wxc.xcConfirm("脚本内容与名称不能为空", window.wxc.xcConfirm.typeEnum.error);
                btnObj.removeAttr('disabled');
                return false;
            }
            ;
            var ansible_server = new Array();
            $("#ansible_server option:selected").each(function () {
                ansible_server.push($(this).val());
            });

            $.ajax({
                url: '/deploy/scripts_add/', //请求地址
                type: "POST",  //提交类似
                data: $('#ansible_moudel_form').serialize() + '&script_file=' + contents + '&type=save',

                success: function (response) {
                    btnObj.removeAttr('disabled');
                    if (response["code"] == "500") {
                        window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
                    }
                    else {
                        window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.success);
                    }

                },
                error: function (response) {
                    btnObj.removeAttr('disabled');
                    window.wxc.xcConfirm("运行失败", window.wxc.xcConfirm.typeEnum.error);
                }
            })
        }


        function runAnsibleModel(obj) {
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var form = document.getElementById('ansible_moudel_form');
            var editor = ace.edit("compile-editor");
            var contents = editor.getSession().getValue();
            if (contents.length == 0) {
                window.wxc.xcConfirm("脚本内容不能为空", window.wxc.xcConfirm.typeEnum.error);
                btnObj.removeAttr('disabled');
                return false;
            }
            ;
            $("#result").html("服务器正在处理，请稍等。。。");
            var ansible_server = new Array();
            $("#ansible_server option:selected").each(function () {
                ansible_server.push($(this).val());
            });
            /* 轮训获取结果 开始  */
            var interval = setInterval(function () {
                $.ajax({
                    url: '/deploy/run_result/',
                    type: 'post',
                    data: $('#ansible_moudel_form').serialize(),
                    success: function (result) {
                        if (result["msg"] !== null) {
                            $("#result").append("<p>" + result["msg"] + "</p>");
                            {#document.getElementById("scrollToTop").scrollIntoView();#}
                            if (result["msg"].indexOf("[Done]") == 0) {
                                clearInterval(interval);
                                window.wxc.xcConfirm("Ansible执行完成", window.wxc.xcConfirm.typeEnum.success);
                                btnObj.removeAttr('disabled');
                            }
                        }
                    },
                    error: function (response) {
                        btnObj.removeAttr('disabled');
                        clearInterval(interval);
                    }
                });
            }, 1000);
// 	    /* 轮训获取结果结束  */
            $.ajax({
                url: '/deploy/scripts_add/', //请求地址
                type: "POST",  //提交类似
                data: $('#ansible_moudel_form').serialize() + '&script_file=' + contents + '&type=run',

                success: function (response) {
                    btnObj.removeAttr('disabled');
                    if (response["code"] == "500") {
                        clearInterval(interval);
                        btnObj.removeAttr('disabled');
                        window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
                    }

                },
                error: function (response) {
                    btnObj.removeAttr('disabled');
                    window.wxc.xcConfirm("运行失败", window.wxc.xcConfirm.typeEnum.error);
                    clearInterval(interval);
                }
            })
        }

        {#function repealFromVaule() {#}
        {#    document.getElementById("deployRun").reset();}#}
    </script>



    {% if errorInfo %}
        window.wxc.xcConfirm("{{ errorInfo }}", window.wxc.xcConfirm.typeEnum.error);
    {% endif %}

{% endblock %}