{% extends 'base.html' %}


{% block title %}
<title> ALANCMDB-新增用户 </title>
{% endblock %}


{% block css-js %}


{% endblock %}


{% block page-title %}
<h1 class="page-header text-overflow">Create User</h1>
{% endblock %}

{% block content %}
<div class="col-lg-12">
      <form action="{% url 'user_add' %}" method="post">
        {% csrf_token %}
       <div class="panel panel-default">
					    <div class="panel-heading">
					        <h3 class="panel-title">新建用户</h3>
					    </div>
           <div class="panel-body">
               <div class="col-lg-8">
    <fieldset>
		<div class="form-group" >
        {{ form }}
        </div>
    </fieldset>
        <input type="submit" class="btn btn-primary" style="width: 60pt" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'user_list' %}"><li style="width: 60pt" class="btn btn-primary" value="">返回</li></a><br>
           <div class="box-footer">
          <i class="fa fa-info-circle"></i> 请勿重复添加条目
        </div>
               </div>
           </div>
           </div>
          </form>


</div>
{% endblock %}