{% extends 'base.html' %}


{% block title %}
<title> ALANCMDB-用户管理 </title>
{% endblock %}


{% block css-js %}
        <!--DataTables [ OPTIONAL ]-->
    <link href="/static/css/datatables.bootstrap.css" rel="stylesheet">
	<link href="/static/css/datatables.responsive.css" rel="stylesheet">

   <script src="/static/js/jquery.datatables.js"></script>
    <script src="/static/js/datatables.bootstrap.js"></script>
	<script src="/static/js/datatables.responsive.min.js"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="/static/js/tables-datatables.js"></script>




{% endblock %}


{% block page-title %}
<h1 class="page-header text-overflow">User Manger</h1>
{% endblock %}

{% block content %}

<div class="panel">
					    <div class="panel-heading">
					        <h3 class="panel-title">用户管理</h3>
					    </div>

{#                        <div class="col-sm-2" style="padding-left: 0">#}
                            <a href="{% url 'user_add' %}" style="margin: 20px">
                                <li class="btn btn-success"><b>添加用户</b></li>
                            </a>
{#                        </div>#}
        <div class="panel-body">



					        <table id="demo-dt-selection" class="table table-striped table-bordered" cellspacing="0" width="100%">

					            <thead>
					                <tr>
					                    <th>账户</th>
					                    <th class="min-tablet">邮箱</th>
					                    <th class="min-tablet">状态</th>
					                    <th class="min-desktop">角色</th>
					                    <th class="min-desktop">最后登录时间</th>
                                        <th class="min-desktop">操作</th>
					                </tr>
					            </thead>
					            <tbody>
                            {% for i in all_user %}
                                    <tr class="even gradeX">
                                        <td>{{ i.username }}</td>
                                        <td>{{ i.email }}</td>
                                        <td>
                                            {% if i.is_active %}
                                                <span class="label label-success">启用</span>
                                            {% else %}
                                                <span class="label label-default">禁用</span>
                                            {% endif %}

                                            {% if i.status == 'online' %}
                                            <span id="{{ i.username|escape }}_status" class="label label-success">online</span>
                                            {% else %}
                                                <span id="{{ i.username|escape }}_status" class="label label-default">offline</span>
                                            {% endif %}

                                        </td>
                                        <td>{{ i.role|default:"----" }}</td>
                                        <td>{{ i.last_login|date:"Y-m-d H:i:s" }}</td>
                                        <td class="text-center" data-editable='false'>
{#                                        <a href="{% url 'user_edit' %}?id={{ host.id }}" class="btn btn-xs btn-info">编辑</a>#}
                                        <a href="{% url 'user_edit' i.id %}" class="btn btn-sm btn-info">编辑</a>
                                        <a href="{% url 'user_del' i.id %}" class="btn btn-sm btn-danger user_del"  onclick="return confirm('确认删除？')">删除</a>
                                    </td>
                                    </tr>
                                {% endfor %}
					                </tr>

					            </tbody>
					        </table>
					    </div>
					</div>

    <script>
    var socket = new WebSocket('ws://' + window.location.host + '/user/list/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['username']);
      var user = document.querySelector("#" + username + "_status");

      if (data['is_logged_in']) {
          {#alert(username + 'is login')#}
        user.innerHTML='online';
        user.className="label label-success"
      }
      else {
          {#alert(username + 'is logout')#}
        user.innerHTML='offline';
        user.className="label label-default"
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock %}