{% extends 'base.html' %}


{% block title %}
    <title> ALANCMD-新增业务线 </title>
{% endblock %}


{% block css-js %}


{% endblock %}


{% block page-title %}
    <h1 class="page-header text-overflow">Business Add</h1>
{% endblock %}

{% block content %}
 {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">业务线新增</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>

                        <form class="form-horizontal" role="form" action={% url "cmdb:business_add" %} method="POST">
                            {% csrf_token %}
                            <div class="col-lg-8">
                                <fieldset>
                                    {{ bus_data }}
                                </fieldset>
                            <br>
                                <div class="form-group">
{#                                    <div class="box-footer" style="margin-left: 10px;width: 530px;">#}
                                        <button type="submit" class="pull-left btn btn-primary">
                                            提交
                                        </button>&nbsp;
                                        <a class="pull-right btn btn-danger" href="{% url "cmdb:business_unit" %}">返回</a>
{#                                    </div>#}
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

{% endblock %}